<h1>Wellcome to Kepler Online Smart Shop</h1>
<h2>sample product</h2>
<p> <%= @first_product.product_name %></p>
<ul>
  <li> <%= @first_product.description %></li>
  <li> <%= @first_product.price %></li>

</ul>